<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Risk Prediction</title>
</head>
<body>
    <h1>Risk Prediction</h1>
    
    <form method="POST">
        <label for="customer_id">Enter Customer ID:</label>
        <input type="number" id="customer_id" name="customer_id" required>
        <button type="submit">Predict</button>
    </form>

    <h2>Prediction Results:</h2>
    <p>Risk associated with applicant (Percent): {{ predicted_risk_value }}%</p>
    <p>Chance of successful repayment (Percent): {{ repayment_probability }}%</p>
    <p>Classification: {{ prediction }}</p>

    <!-- Add an <img> tag to display the saved plot image -->
    <img src="{{ url_for('static', filename='sigmoid_plot.png') }}" alt="Sigmoid Plot" width="400">
</body>
</html>
