<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Risk Prediction</title>
</head>
<body>
    <h1>Risk Prediction</h1>
    
    <form method="POST">
        <label for="customer_id">Enter Customer ID:</label>
        <input type="number" id="customer_id" name="customer_id" required>
        <button type="submit">Predict</button>
    </form>

    <h2>Prediction Results:</h2>
    <p>Risk associated with applicant (Percent): {{ predicted_risk_value }}%</p>
    <p>Chance of successful repayment (Percent): {{ repayment_probability }}%</p>
    <p>Classification: {{ prediction }}</p>

    <div></div>
    <h1> Graphing Test</h1>

    
<!--
    {% if plot_url %}
    <img src = {{plot_url}} alt = "Please select Customer ID">
    {% endif %}
This code is commented out. Rough beginning to retreive the required graph via plot_url.
    </form>
-->


</body>
</html>