<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href="static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Risk Prediction</title>

</head>
<body>
    
    <h1>Risk Prediction {% if customer_id %} for Customer ID: {{ customer_id }} {% endif %}</h1> 
    <form method="POST">
        <label for="customer_id">Enter Customer ID:</label>
        <input type="number" id="customer_id" name="customer_id" required>
        <button type="submit" style="font-family: 'Courier New', Courier, monospace;">Predict</button>
        <p class = "extra_info">Notice: customer ID should be an integer between 1 to 9861</p>
        <label for="parameter_range" style="color: #FFFFFF; font-family: 'Courier New', Courier, monospace;">Enter Financial Parameter Range: from 1 to </label>
        <input type="number" id="parameter_range" name="parameter_range" required>
        <p class = "extra_info">Notice: Financial Parameter Range should be an integer between 1 to 15</p>
    </form>

    <h2 >Prediction Results:</h2>
    <p>Risk associated with applicant (Percent): {{ predicted_risk_value }}%</p>
    <p>Chance of successful repayment (Percent): {{ repayment_probability }}%</p>
    <p>Classification: {{ prediction }}</p>

    <!-- Add an <img> tag to display the saved plot image, the initial width of image set to 80% of the brower screen -->
    <img class = "wide" src="{{ url_for('static', filename='sigmoid_plot.png') }}" alt="Sigmoid Plot">
    
    <!-- Add a horizontal table showing names for each index of chosen Financial Parameters -->
    <h3>Financial Parameters:</h3>
        <div style="color: #FFFFFF; overflow-x:auto; font-family: 'Courier New', Courier, monospace;">
            <table border="1">
                <tbody>
                <!-- Index Row -->
                    <tr>
                        <td><strong>Index</strong></td>
                        {% for index, name in financial_parameters %}
                            <td>{{ index }}</td>
                        {% endfor %}
                    </tr>

                <!-- Parameter Name Row -->
                    <tr>
                        <td><strong>Parameter Name</strong></td>
                        {% for index, name in financial_parameters %}
                            <td>{{ name }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    <p></p>

    <div></div>
    <h1 class = "header">Feature Importance for Attributes Within the Model</h1>
    <img class = "small" src="{{ url_for('static', filename='model_explain.png') }}" alt="Sigmoid Plot">
    <div></div>
    <p>The above graph depicts each model. The color indicates whether that attribute positively or negatively affects your</p>
    <p>risk score. Red values indicate a prediction of higher risk and blue values are lower risk.</p>
    <div></div>
    <div></div>
        <a href="/info">For more information, click here.</a>
    
        
</body>

</html>
